body{
    background: #D3FBF2;
    font-family: 'Red Hat Display', sans-serif;
}

header{
    padding: 1rem;
}

h1{
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 13%;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 0;
    max-width: 1200px;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}
.principal{
    padding: 0.5rem;
    text-align: center;
    flex-basis: 600px;
    max-width: 650px;
    flex-grow: 1;
}

.area-ingreso{
    width: 90%;
    border: none;
    font-size: 2em;
    resize: none;
    margin: 0 auto 1rem;
    background: #D3FBF2;
}

.area-salida{
    flex-basis: 250px;
    max-width: 340px;
    padding: 0.2rem;
    text-align: center;
    background: #FDF2FA;
    flex-grow: 1;
}

.requisito:before{
    content: "\2757 ";
}

.requisito{
    padding: 1rem;
    font-size: 0.8rem;

}

.botones{
    margin: 1rem auto;
    padding: 1%;
}

 button{
    padding: 1.5%;
    border-radius: 10px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    transition: 1s all;
    cursor: pointer;
    width: 30%;
}

.botonuno{
    background: #01469B;
    margin-right: 5%;
}

.botondos{
    background: #1D81FC;
}

button:active{
    transform: scale(1.10);
}

button:hover{
    box-shadow: 2px 2px 5px 1px #101823;
} 

.area-salida textarea{
    resize: none;
    background: #FDF2FA;
    margin: 2% auto 0 auto;
    width: 90%;
    border: none;
}

textarea:focus{
    outline: none;
}

.area-salida img{
    width: 50%;
}

h2{
    font-weight: bold;
    margin: .7em;
    font-size: 1.2rem;
}

.area-salida p{
    font-size: 0.8rem;
}

.botontres{
    background: #3757F7;
    width: 70%;
    margin: 1.5em;
    /*    visibility: hidden;*/
} 

footer{
    background: #1D81FC;
    text-align: center;
    padding: 0.4rem;
}

footer p{
    font-weight: bold;
    font-size: 0.8rem;
}

footer a{
    text-decoration: none;
    color: black;
    transition: 1s all;
}

footer a:hover{
    color: #710101;
}

@media screen and (max-width: 600px){

    footer p{

        font-size: 3rem;
        
    }

}