body{
    background: #D3FBF2;
    font-family: 'Red Hat Display', sans-serif;
}
.principal{
    width: 70%;
}

h1{
    width: 58%;
    margin: 1em 2em;
    padding: 1em;
}

.area-ingreso{
    width: 80%;
    margin-left: 12%;
    margin-bottom: 2%;
    border: none;
    background: #D3FBF2;
    font-size: 2em;
    resize: none;
}

.area-ingreso:focus{
    outline: none;
}

.requisito:before{
    content: "\2757 ";
}

.requisito{
    margin-left: 12%;
    font-size: 0.8em;
    width: auto;
}

.botones{
    width: 60%;
    margin: 2% auto;
    text-align: center;
    padding: 1%;
}

.botones button{
    font-size: 1em;
    padding: 1.5%;
    border-radius: 10px;
    width: 40%;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}
.botonuno{
    background: #01469B;
    margin-right: 5%;
}

.botondos{
    background: #1D81FC;
}

.botones button:active{
    transition: 1s;
    font-size: 1.5em;
}
